In [2]:
# script to create pandas data frame full of attributes (flight, instrument used, etc) 
# author: sofia chelpon
# date created: 2-12-2020

In [1]:
import numpy as np 
import xarray as xr
import pandas as pd 
import datetime 
import seaborn as sns

import datetime as dt 

import matplotlib
from matplotlib import pyplot as plt
import matplotlib.ticker as mticker
from mpl_toolkits import mplot3d

%matplotlib inline
%config inlinebackend.figure_format='retina'

In [2]:
# load in both toga and awas data
mypath1 = '/Volumes/scdrive2/TTS_2020/contrast_readin/awas/awas_trace_gases.nc'
awas_trc = xr.open_dataset(mypath1)

mypath2 = '/Volumes/scdrive2/TTS_2020/contrast_readin/toga_lodhalf/toga_trace_gases.nc'
toga_trc = xr.open_dataset(mypath2)

In [5]:
## flight date info (UTC)
#RF 03 ---> 2014-01-17 00:16:06
#RF 04 ---> 2014-01-19 00:29:14
#RF 05 ---> 2014-01-22 00:18:06
#RF 08 ---> 2014-02-01 04:04:05
#RF 09 ---> 2014-02-04 00:00:06
#RF 10 ---> 2014-02-08 00:18:05
#RF 12 ---> 2014-02-17 00:04:05
#RF 14 ---> 2014-02-22 00:08:05      
        
#NOT ALL FLIGHT DAYS START/END SAME DAY 
#RF06 starts on 2014-01-24 23:54:06 and ends on 2014-01-25 07:04:06
#RF07 starts on 2014-01-28 23:53:06 and ends on 2014-01-29 06:13:06
#RF11 starts on 2014-02-12 23:59:25 and ends on 2014-02-13 06:29:25
#RF13 starts on 2014-02-19 17:02:05 and ends on 2014-02-20 00:20:03

In [6]:
################# -------------------- TOGA  -------------------- #################

In [3]:
# TOGA - sort flights dates into flight names and notes (from Pan, BAMS 2017) for adding to dataframe 
myflights = []
flightnotes = []

for ii in toga_trc.Time_UTC.values:
    t = np.datetime64(ii)
#RF 03 ---> 2014-01-17 00:16:06
    if (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 17):
        myflights.append('RF03')
        flightnotes.append('Domain survey, 1 - Guam to SE (Chuuk)')
#RF 04 ---> 2014-01-19 00:29:14
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 19):
        myflights.append('RF04')
        flightnotes.append('Domain survey, 1 - Guam to SW (Palau)')
#RF 05 ---> 2014-01-22 00:18:06
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 22):
        myflights.append('RF05')
        flightnotes.append('Convective outflow, 2 - North of Guam')
#RF06 starts on 2014-01-24 23:54:06 and ends on 2014-01-25 07:04:06
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 24):
        myflights.append('RF06')
        flightnotes.append('Jet crossing/pre–postfrontal contrast, 4, 5 - N/NW of Guam, entering Fukuoka FIR (JPN)')
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 25):
        myflights.append('RF06')
        flightnotes.append('Jet crossing/pre–postfrontal contrast, 4, 5 - N/NW of Guam, entering Fukuoka FIR (JPN)')
#RF07 starts on 2014-01-28 23:53:06 and ends on 2014-01-29 06:13:06
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 28):
        myflights.append('RF07')
        flightnotes.append('SH convective outflow survey, 1, 4 - Guam to equatorial region')
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 29):
        myflights.append('RF07')
        flightnotes.append('SH convective outflow survey, 1, 4 - Guam to equatorial region')
#RF 08 ---> 2014-02-01 04:04:05
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 1):
        myflights.append('RF08')
        flightnotes.append('Photochemical evolution– sunset, 3, 7 - Guam to E (stagnation point of A.C.)')
#RF 09 ---> 2014-02-04 00:00:06
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 4):
        myflights.append('RF09')
        flightnotes.append('Equatorial crossing and Manus ozonesonde, 2, 6 - Guam to Port Moresby FIR (PNG)')
#RF 10 ---> 2014-02-08 00:18:05 
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 8):
        myflights.append('RF10')
        flightnotes.append('Subtropical jet pollution and ITCZ survey, 2, 5 - Guam to near equator crossing ITCZ near 6°N')
#RF11 starts on 2014-02-12 23:59:25 and ends on 2014-02-13 06:29:25
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 12):
        myflights.append('RF11')
        flightnotes.append('Convective outflow and coordinate flight, 2, 6, 7 - Guam to S/SW')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 13):
        myflights.append('RF11')
        flightnotes.append('Convective outflow and coordinate flight, 2, 6, 7 - Guam to S/SW')
#RF 12 ---> 2014-02-17 00:04:05
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 17):
        myflights.append('RF12')
        flightnotes.append('Convective outflow and coordinate flight, 2, 6, 7 - Guam to S/SE')
#RF13 starts on 2014-02-19 17:02:05 and ends on 2014-02-20 00:20:03
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 19):
        myflights.append('RF13')
        flightnotes.append('Photochemical evolution– sunrise, 3 - Guam to E (stagnation point of A.C.)')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 20):
        myflights.append('RF13')
        flightnotes.append('Photochemical evolution– sunrise, 3 - Guam to E (stagnation point of A.C.)')
#RF 14 ---> 2014-02-22 00:08:05 
    else: 
        myflights.append('RF14')
        flightnotes.append('Equator crossing, SH TTL survey, and Manus ozon- esonde, 1, 2, 6 - Guam to Port Moresby FIR (PNG) and Brisbane FIR (AUS)')

In [4]:
# put toga into one dataframe, start building with time 
toga_df = pd.DataFrame({"Time_UTC": toga_trc.Time})
toga_df.insert(1, 'Intrument', 'TOGA')

# add flight name and notes 
toga_df.insert(1, 'Flight', myflights)
toga_df.insert(2, 'Notes', flightnotes)

# add attributes 
toga_df['GGALT'] = toga_trc.GGALT
toga_df['GGLAT'] = toga_trc.GGLAT
toga_df['GGLON'] = toga_trc.GGLON

# add all tracers back in 
for ii in toga_trc.data_vars:
    toga_df[str(ii)] = toga_trc[ii]

# pickle it! 
toga_df.to_pickle("./toga_data_df.pkl")

In [5]:
toga_df

,Time_UTC,Flight,Notes,Intrument,GGALT,GGLAT,GGLON,Acetaldehyde,n_Butane,i_Butane,Benzene,C3H8,Methanol,Bromoform,Tetrachloroethylene,Dibromomethane,Dichloromethane,Chloroform,Carbon_Tetrachloride
0,2014-01-17 00:18:06,RF03,"Domain survey, 1 - Guam to SE (Chuuk)",TOGA,3127.166016,13.379817,144.993500,191.199997,1.51,2.49,NaN,41.0,611.0,0.689,0.15,NaN,44.490002,9.39,97.099998
1,2014-01-17 00:20:06,RF03,"Domain survey, 1 - Guam to SE (Chuuk)",TOGA,4212.603027,13.258845,145.136200,126.800003,1.68,2.60,NaN,13.0,378.0,0.480,0.15,NaN,50.110001,10.29,94.300003
2,2014-01-17 00:22:06,RF03,"Domain survey, 1 - Guam to SE (Chuuk)",TOGA,5284.313477,13.121677,145.297684,NaN,1.42,2.17,7.28,18.0,228.0,0.050,0.15,NaN,42.029999,8.67,96.699997
3,2014-01-17 00:24:06,RF03,"Domain survey, 1 - Guam to SE (Chuuk)",TOGA,6472.384277,12.977636,145.466934,116.900002,1.14,1.09,8.23,5.0,327.0,0.625,0.15,1.043,43.689999,9.42,94.599998
4,2014-01-17 00:26:06,RF03,"Domain survey, 1 - Guam to SE (Chuuk)",TOGA,7449.240723,12.823807,145.647217,NaN,3.01,2.26,5.28,22.0,10.0,0.050,0.15,1.001,49.049999,9.29,93.400002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226,2014-02-22 09:12:05,RF14,"Equator crossing, SH TTL survey, and Manus ozo...",TOGA,8183.332031,11.962345,144.874908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2227,2014-02-22 09:14:05,RF14,"Equator crossing, SH TTL survey, and Manus ozo...",TOGA,6867.007812,12.175047,144.833237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2228,2014-02-22 09:16:05,RF14,"Equator crossing, SH TTL survey, and Manus ozo...",TOGA,5622.709473,12.366999,144.795425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2229,2014-02-22 09:18:05,RF14,"Equator crossing, SH TTL survey, and Manus ozo...",TOGA,4391.696777,12.543944,144.760483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2230,2014-02-22 09:20:05,RF14,"Equator crossing, SH TTL survey, and Manus ozo...",TOGA,3358.958740,12.707678,144.729034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
################# -------------------- AWAS  -------------------- #################

In [7]:
# AWAS - sort flights dates into flight names and notes (from Pan, BAMS 2017) for adding to dataframe 
myflights = []
flightnotes = []

for ii in awas_trc.Time_UTC.values:
    t = np.datetime64(ii)
#RF 03 ---> 2014-01-17 00:16:06
    if (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 17):
        myflights.append('RF03')
        flightnotes.append('Domain survey, 1 - Guam to SE (Chuuk)')
#RF 04 ---> 2014-01-19 00:29:14
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 19):
        myflights.append('RF04')
        flightnotes.append('Domain survey, 1 - Guam to SW (Palau)')
#RF 05 ---> 2014-01-22 00:18:06
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 22):
        myflights.append('RF05')
        flightnotes.append('Convective outflow, 2 - North of Guam')
#RF06 starts on 2014-01-24 23:54:06 and ends on 2014-01-25 07:04:06
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 24):
        myflights.append('RF06')
        flightnotes.append('Jet crossing/pre–postfrontal contrast, 4, 5 - N/NW of Guam, entering Fukuoka FIR (JPN)')
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 25):
        myflights.append('RF06')
        flightnotes.append('Jet crossing/pre–postfrontal contrast, 4, 5 - N/NW of Guam, entering Fukuoka FIR (JPN)')
#RF07 starts on 2014-01-28 23:53:06 and ends on 2014-01-29 06:13:06
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 28):
        myflights.append('RF07')
        flightnotes.append('SH convective outflow survey, 1, 4 - Guam to equatorial region')
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 29):
        myflights.append('RF07')
        flightnotes.append('SH convective outflow survey, 1, 4 - Guam to equatorial region')
#RF 08 ---> 2014-02-01 04:04:05
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 1):
        myflights.append('RF08')
        flightnotes.append('Photochemical evolution– sunset, 3, 7 - Guam to E (stagnation point of A.C.)')
#RF 09 ---> 2014-02-04 00:00:06
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 4):
        myflights.append('RF09')
        flightnotes.append('Equatorial crossing and Manus ozonesonde, 2, 6 - Guam to Port Moresby FIR (PNG)')
#RF 10 ---> 2014-02-08 00:18:05 
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 8):
        myflights.append('RF10')
        flightnotes.append('Subtropical jet pollution and ITCZ survey, 2, 5 - Guam to near equator crossing ITCZ near 6°N')
#RF11 starts on 2014-02-12 23:59:25 and ends on 2014-02-13 06:29:25
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 12):
        myflights.append('RF11')
        flightnotes.append('Convective outflow and coordinate flight, 2, 6, 7 - Guam to S/SW')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 13):
        myflights.append('RF11')
        flightnotes.append('Convective outflow and coordinate flight, 2, 6, 7 - Guam to S/SW')
#RF 12 ---> 2014-02-17 00:04:05
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 17):
        myflights.append('RF12')
        flightnotes.append('Convective outflow and coordinate flight, 2, 6, 7 - Guam to S/SE')
#RF13 starts on 2014-02-19 17:02:05 and ends on 2014-02-20 00:20:03
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 19):
        myflights.append('RF13')
        flightnotes.append('Photochemical evolution– sunrise, 3 - Guam to E (stagnation point of A.C.)')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 20):
        myflights.append('RF13')
        flightnotes.append('Photochemical evolution– sunrise, 3 - Guam to E (stagnation point of A.C.)')
#RF 14 ---> 2014-02-22 00:08:05 
    else: 
        myflights.append('RF14')
        flightnotes.append('Equator crossing, SH TTL survey, and Manus ozon- esonde, 1, 2, 6 - Guam to Port Moresby FIR (PNG) and Brisbane FIR (AUS)')

In [8]:
# put awas into one dataframe, start building with time 
awas_df = pd.DataFrame({"Time_UTC": awas_trc.Time_UTC})
awas_df.insert(1, 'Intrument', 'AWAS')

# add flight name and notes 
awas_df.insert(1, 'Flight', myflights)
awas_df.insert(2, 'Notes', flightnotes)

# add attributes 
awas_df['GGALT'] = awas_trc.GGALT
awas_df['GGLAT'] = awas_trc.GGLAT
awas_df['GGLON'] = awas_trc.GGLON

# add all tracers back in 
for ii in awas_trc.data_vars:
    awas_df[str(ii)] = awas_trc[ii]

# pickle it! 
awas_df.to_pickle("./awas_data_df.pkl")